<ion-view view-title="Consumo" hide-back-button="true">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
      <button class="button button-clear back-header" ui-sref="app.profile">
        <span class="ti-user"></span>
      </button>
      <button class="button button-clear go-homi" ui-sref="app.home">
        <span class="ti-home"></span>
      </button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>

    <div class="new-look">
      <h4>Revise su consumo eléctrico de los últimos meses</h4>
      <div class="row el-chart">
        <div class="col">
          <div class="box resumen">
            <div class="chartTitle">Consumo Comparativo</div>
            <div id="chartContainer" class="chartStyle"></div>
            <div class="text-center">
              <div class="chart-comp chart-actual">
                <span class="icon-chart-actual"></span>
                Año actual
              </div>
              <div class="chart-comp chart-anterior">
              <span class="icon-chart-anterior"></span>
                Año pasado
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
