<ion-view view-title="contáctenos">
  <ion-header-bar>
    <h1 class="title">contáctenos</h1>
    <div>
      <button class="button button-clear back-header"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>

<!--       <form>
        <div class="list list-inset">

          <div class="add-account">
            <label class="item item-input">
              <textarea placeholder="Comentarios"></textarea>
            </label>
            <div class="clearfix"></div>
          </div>

          <label>
            <button class="button button-block" type="submit">Enviar</button>
          </label>
        </div>
      </form> -->

      <div class="contenido">
        <div class="btn-main">
          <div class="btn pull-right" ui-sref="app.oficinas">
            <span class="ti-location-pin"></span>
            Oficinas
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>


