<ion-view view-title="Historial de Pagos" hide-back-button="true">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
      <button class="button button-clear back-header" ui-sref="app.profile">
        <span class="ti-user"></span>
      </button>
      <button class="button button-clear go-homi" ui-sref="app.home">
        <span class="ti-home"></span>
      </button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="new-look">
      <h4>{{detalles.nombreTitular}}</h4>
      <!-- <p>Rut: {{detalles.rutCliente}}</p>
      <p>Número de cliente: {{detalles.numeroServicio}}</p> -->
      <div class="row no-padd">
        <div class="col no-padd">
          <div class="box impagos" ng-repeat="pago in pagados">
            <div class="row">
              <div class="col">
                <div class="contain">
                  <p>Número de documento: {{pago.nroDcto}}</p>
                  <p>Fecha de pago: {{pago.fechaPago}}</p>  
                  <p>Medio de pago: {{pago.medioPago}}</p>
                  <p class="total">MONTO PAGADO {{pago.montoPago | currency:"$":0}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear-30"></div>
    </div>
  </ion-content>
</ion-view>


