<ion-view view-title="documentos impagos">
  <ion-header-bar>
    <h1 class="title">documentos impagos</h1>
    <div>
      <button class="button button-clear back-header" ng-click="goBack()"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="contenido">
      <div class="row">
        <div class="col col-75 datos">
          <h3>{{cuenta.detalle.nombreTitular}}</h3>
          <p>Rut: {{cuenta.detalle.rutCliente}}</p>
          <p>Número de cliente: {{cuenta.detalle.numeroServicio}}</p>
          <p>Ciudad: {{cuenta.detalle.comuna}}</p>
          <p>Dirección:   {{cuenta.detalle.direccion}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert">
            <h6>Estado del Servicio: <strong>{{cuenta.detalle.estadoServicio}}</strong></h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="box impagos" ng-repeat="documento in cuenta.documentos">
            <div class="row">
              <div class="col-75">
                <div class="contain">
                  <p>Fecha de emisión {{documento.fechaVcto}}</p>  
                  <p>Deuda total {{documento.saldo | currency:"$":0}}</p>
                  <p>Deuda vencida $0</p>
                  <p class="total">TOTAL A PAGAR {{documento.saldo | currency:"$":0}}</p>
                </div>
              </div>
              <div class="col">
                <div class="ver-boleta" ng-click="abrirExterna(documento.url)">
                  <div class="ti-file"></div>
                  Ver boleta
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>


