<ion-view view-title="Registro de Pagos">
  <ion-header-bar>
    <h1 class="title">Registro de Pagos</h1>
    <div>
      <button class="button button-clear back-header" ng-click="goBack()"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="contenido">
      <div class="row">
        <div class="col col-75 datos">
          <h3>{{detalles.nombreTitular}}</h3>
          <p>Rut: {{detalles.rutCliente}}</p>
          <p>Número de cliente: {{detalles.numeroServicio}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="box impagos" ng-repeat="pago in pagados">
            <div class="row">
              <div class="col">
                <div class="contain">
                  <p>Número de documento: {{pago.nroDcto}}</p>
                  <p>Fecha de pago: {{pago.fechaPago}}</p>  
                  <p>Medio de pago: {{pago.medioPago}}</p>
                  <p class="total">MONTO PAGADO {{pago.montoPago | currency:"$":0}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>


