<ion-view view-title="documentos impagos">
  <ion-header-bar>
    <h1 class="title">documentos impagos</h1>
    <div>
      <button class="button button-clear back-header" ui-sref="login"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="contenido">
      <div class="row">
        <div class="col col-75 datos">
          <h3>Inil Huenchuan Elbio Aladín</h3>
          <p>Rut: 7569987-5</p>
          <p>Número de cliente: 212460782085</p>
          <p>Ciudad: San Juan de la Costa</p>
          <p>Comuna: S.J. de la Costa</p>
          <p>Dirección:   Panguimapu</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert">
            <h6>Estado del Servicio: <strong>Cortado (suspendido)</strong></h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="box impagos">
            <div class="row">
              <div class="col-75">
                <div class="contain">
                  <p>Fecha de emisión 12-02-2015</p>
                  <p>Deuda total $6.300</p>
                  <p>Deuda vencida $0</p>
                  <p class="total">TOTAL A PAGAR $6.300</p>
                </div>
              </div>
              <div class="col">
                <div class="ver-boleta">
                  <div class="ti-file"></div>
                  Ver boleta
                </div>
              </div>
            </div>
          </div>
          <div class="box impagos">
            <div class="row">
              <div class="col-75">
                <div class="contain">
                  <p>Fecha de emisión 12-02-2015</p>
                  <p>Deuda total $6.300</p>
                  <p>Deuda vencida $0</p>
                  <p class="total">TOTAL A PAGAR $6.300</p>
                </div>
              </div>
              <div class="col">
                <div class="ver-boleta">
                  <div class="ti-file"></div>
                  Ver boleta
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>


