<ion-view view-title="Informar Falla">
  <ion-header-bar>
    <h1 class="title">Informar Falla</h1>
    <div>
      <button class="button button-clear back-header" ui-sref="login"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>
      <form name="InformaFalla" ng-submit="informarLaFalla()">
        <div class="list list-inset">
          <div class="add-account">
            <label class="item item-input item-select">
              <div class="input-label" ng-show="formdata.propiedad == -1">
                Selecionar servicio
              </div>
              <select ng-model="formdata.propiedad" name="propiedad" >
                <option ng-repeat="propiedad in propiedades" value="{{$index}}">{{propiedad.property_nickname}}</option>
              </select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label" ng-show="formdata.tipofalla == -1">
                Tipo de eventualidad
              </div>
              <select ng-model="formdata.tipofalla" name="tipoFalla">
                <option ng-repeat="falla in fallas" value="{{falla.id}}">{{falla.descripcion}}</option>
              </select>
            </label>
            <label class="item item-input">
              <textarea ng-model="formdata.comentarios" placeholder="Comentarios"></textarea>
            </label>
            <div class="text-center">
              <label id="for-file-upload" class="item item-input upload" ng-click="abrirDialogoSubida()">
                Adjuntar imagen <span class="ti-camera"></span>
              </label>
              <div class="preview-foto">
                <img src="{{formdata.imagen}}"/>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <label>
            <button class="button button-block" type="submit" ng-disabled="InformaFalla.$invalid || InformaFalla.$pristine">Enviar Requerimiento</button>
          </label>
          <h6>si informa una falla por no suministro y solo tenía su interruptor abajo, se le traspasa un costo al cliente. </h6>
        </div>
      </form>
      <div class="contenido">
        <div class="row">
          <div class="col">
            <div class="btn-main center">
              <div class="btn" ng-click="abrirExterna('tel:6004012020')">
                <span class="ion-ios-telephone-outline"></span>
                600 4012020
              </div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>