<ion-side-menus enable-menu-with-back-views="true"><!--  -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
<!--      <button class="button button-clear back-header" ng-click="goBack()">
          <span class="ti-back-left"></span>
        </button> -->
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">

    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="app.pantalla-configuracion">
          <div class="row">
            <div class="col col-75">
              <h2>{{sesionUsuario.contact_name}}</h2>
              <h3>Titular: {{sesionUsuario.contact_name}}</h3>
            </div>
            <div class="col">
              <span class="ticon ti-settings pull-right"></span>
            </div>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.resumen-cuenta">
          <div class="row">
            <div class="col ttl">
              <span class="ticon ti-layout-accordion-separated pull-left"></span>
              <h4>Resumen Cuenta</h4>
            </div>
          </div>
        </ion-item>
        <ion-item nav-clear>
          <div class="row">
            <div class="col ttl">
              <div nav-clear menu-close ui-sref="app.servicios-asociados">
                <span class="ticon ti-layers-alt pull-left"></span>
                <h4>Servicios Asociados</h4>
                <ul>
                  <li ng-repeat="propiedad in sesionUsuario.Propiedades" >{{propiedad.property_nickname}}</li>
                </ul>
                </div>
              <a href="#" class="agregar-servicio" menu-close ui-sref="register.addaccount">Agregar Servicio</a>
            </div>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.informar-falla">
          <div class="row">
            <div class="col ttl">
              <span class="ticon ti-flag pull-left"></span>
              <h4>Informar Falla</h4>
            </div>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.oficinas">
          <div class="row">
            <div class="col ttl">
              <span class="ticon ti-location-pin pull-left"></span>
              <h4>Oficinas</h4>
            </div>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.notificaciones">
          <div class="row">
            <div class="col ttl">
              <span class="ticon ti-bell pull-left"></span>
              <h4>Notificaciones</h4>
            </div>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.contactenos">
          <div class="row">
            <div class="col ttl">
              <span class="ticon ti-clipboard pull-left"></span>
              <h4>Contáctanos</h4>
            </div>
          </div>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
