<ion-view view-title="Notificaciones" hide-back-button="true">
  <ion-nav-bar class="bar-stable notificaciones-head">
    <ion-nav-back-button>
      <button class="button button-clear back-header" ui-sref="app.profile">
        <span class="ti-user"></span>
      </button>
      <button class="button button-clear go-homi" ui-sref="app.home">
        <span class="ti-home"></span>
      </button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="new-look">
      <div class="setting-notification" ui-sref="app.pantalla-configuracion">
        <span class="ti-settings"></span>
      </div>
      <div class="clearfix"></div>
      <ion-item ng-repeat="notificacion in notificaciones" class="notificacion">
      <div class="row no-padding {{notificacion.prioridad}}">
        <div class="col col-90 no-padding">
          <p>{{notificacion.notification}}</p>
        </div>
        <div class="col no-padding text-right">
          <span class="ti-close" ng-click="marcarLeida(notificacion.remote_id)"></span>
        </div>
      </div>
      <div class="clearfix"></div>
      </ion-item>
      <div class="clear-20"></div>
    </div>
  </ion-content>
</ion-view>
