<ion-view view-title="notificaciones anteriores">
  <ion-header-bar>
    <h1 class="title">notificaciones anteriores</h1>
    <ion-nav-back-button class="back-anteriores">
        <button class="button button-clear back-header ion-arrow-left-c"><span class="ti-back-left"></span></button>
    </ion-nav-back-button>
  </ion-header-bar>
  <ion-content>

    <div class="contenido">
      <ion-item ng-repeat="notificacion in notificaciones" ng-if="notificacion.estado=='leida'" class="notificacion">
      <div class="row no-padding {{notificacion.prioridad}}">
        <div class="col no-padding">
          <p>{{notificacion.contenido}}</p>
        </div>
      </div>
      <div class="clearfix"></div>
      </ion-item>
    </div>

  </ion-content>
</ion-view>




