<ion-view view-title="Oficinas" hide-back-button="true">
  <ion-nav-bar class="bar-stable oficinas-head">
    <ion-nav-back-button>
      <button class="button button-clear back-header" ui-sref="app.profile">
        <span class="ti-user"></span>
      </button>
      <button class="button button-clear go-homi" ui-sref="app.home">
        <span class="ti-home"></span>
      </button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="contenido-mapa" ng-hide="!oficina.grafico">
       <ion-content class="map-content" >
        <div id="map" data-tap-disabled="true"></div>
      </ion-content>
    </div>
    <div class="no-mapa" ng-hide="oficina.grafico">
      <h4 class="text-center">Información geográfica en desarrollo</h4>
    </div>
    <div class="new-look">
      <p class="">
        {{oficina.direccion}} <br>
        {{oficina.descripcion}} <br> 
        {{oficina.oficin}}</p>
    </div>
    <div class="clear-20"></div>
  </ion-content>
</ion-view>




