<ion-view view-title="oficinas">
  <ion-content>
    <form>
        <div class="list list-inset">
          <div class="oficinas add-account">
            <label class="item item-input item-select">
              <div class="input-label">
                Ubicación
              </div>
              <select ng-model="buscarOficina.oficina" name="buscarOficinaSelect">
                <option value="">Seleccione una zona</option>
                <option value="concepcion">Concepción</option>
                <option value="temuco">Temuco</option>
                <option value="valdivia">Valdivia</option>
                <option value="osorno">Osorno</option>
                <option value="puertoMontt">Puerto Montt</option>
                <option value="chiloe">Chiloé</option>
                <option value="coyhaique">Coyhaique</option>
              </select>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Buscar oficina" ng-model="buscarOficina.direccion" name="buscarOficinaInput">
            </label>
            <div class="clear-10"></div>
            <div class="cargador-oficinas" name="cargadorOficinas">
              <ion-item class="" ng-repeat="oficina in oficinas | filter:buscarOficina" ui-sref="app.oficina({oficinaId: oficina.id})">
                <div class="row no-padding la-oficina">
                  <div class="col no-padding text-center">
                    <span class="ticon ti-map-alt"></span>
                  </div>
                  <div class="col col-75 no-padding">
                    <h3>{{oficina.direccion | capitalize}}</h3>
                    <h6>{{oficina.descripcion | capitalize}}</h6>
                  </div>
                </div>
              </ion-item>
            </div>
          </div>
        </div>
      </form>
  </ion-content>
</ion-view>




