<ion-view view-title="Oficinas">
  <ion-header-bar>
    <h1 class="title">Oficinas</h1>
    <div>
      <button class="button button-clear back-header" ui-sref="login"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="contenido-mapa" ng-hide="!oficina.grafico">
       <ion-content class="map-content" >
        <div id="map" data-tap-disabled="true"></div>
      </ion-content>
    </div>
    <div class="no-mapa" ng-hide="oficina.grafico">
      <h3 class="text-center">Información geográfica en desarrollo</h3>
    </div>
    <div class="contenido">
      <p class="myriad">
        {{oficina.direccion}} <br>
        {{oficina.descripcion}} <br> 
        {{oficina.oficin}}</p>
    </div>
  </ion-content>
</ion-view>




