<ion-view view-title="oficinas">
  <ion-header-bar>
    <h1 class="title">oficinas</h1>
    <div>
      <button class="button button-clear back-header" ui-sref="login"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>

    <form>
        <div class="list list-inset">

          <div class="oficinas add-account">
            <label class="item item-input item-select">
              <div class="input-label">
                Selecionar zona
              </div>
              <select>
                <option value="osorno">Osorno</option>
                <option value="valdivia">Valdivia</option>
                <option value="puertoMontt">Puerto Montt</option>
                <option value="chiloe">Chiloe</option>
              </select>
            </label>
            <label class="item item-input"><input type="text" placeholder="Buscar oficina" name="buscarOficina"></label>
            <div class="clear-30"></div>
            <div class="row no-padding la-oficina">
              <div class="col no-padding text-center">
                <span class="ticon ti-location-pin"></span>
              </div>
              <div class="col col-75 no-padding">
                <h3>Av. Providencia 1860, Providencia, Santiago</h3>
                <h6>Lunes a viernes 8:30 a 18:30 hrs. </h6>
              </div>
            </div>
            <div class="row no-padding la-oficina">
              <div class="col no-padding text-center">
                <span class="ticon ti-location-pin"></span>
              </div>
              <div class="col col-75 no-padding">
                <h3>Av. Providencia 1860, Providencia, Santiago</h3>
                <h6>Lunes a viernes 8:30 a 18:30 hrs. </h6>
              </div>
            </div>
          </div>

        </div>
      </form>

  </ion-content>
</ion-view>




