<ion-view view-title="oficinas">
  <ion-header-bar>
    <h1 class="title">oficinas</h1>
    <div>
      <button class="button button-clear back-header" ui-sref="login"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="contenido-mapa">
       
      <ion-content ng-controller="OficinaCtrl" ng-init="initialize()" class="map-content">
        <div id="map" data-tap-disabled="true"></div>
      </ion-content>

    </div>
    <div class="contenido">
      <p class="myriad">{{oficina.direccion}} <br>{{oficina.horario}}</p>
    </div>

  </ion-content>
</ion-view>




