<ion-view view-title="Pagar" hide-back-button="true">
  <ion-nav-bar class="bar-stable pagar-head">
    <ion-nav-back-button>
      <button class="button button-clear back-header" ui-sref="app.profile">
        <span class="ti-user"></span>
      </button>
      <button class="button button-clear go-homi" ui-sref="app.home">
        <span class="ti-home"></span>
      </button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="new-look">
      <h4>Mi Casa</h4>
      <div class="alert">
        <h6>Estado del Servicio: <strong>{{cuenta.detalle.estadoServicio}}</strong></h6>
      </div>

      <div class="top-pago row">
        <div class="col col-50">
          <p>Deuda Total</p>
          <p>Deuda Vencida</p>
          <p>Fecha Corte</p>
        </div>
        <div class="col text-right">
          <p>$0</p>
          <p>$0</p>
          <p>01-08-2016</p>
        </div>
      </div>

      <div ng-if="cuenta.documentos.length > 0">
        <button class="button button-block button-positive" ng-click="iniciaPago()">
          <div id="TextoTotal" ng-if="seleccionados == 0">
            Pagar todo el saldo pendiente
          </div>
          <div id="TextoAlgunas" ng-if="seleccionados > 0">
            Pagar {{seleccionados}} <ng-pate ng-if="seleccionados == 1">cuenta: ${{saldoTotal}}</ng-pate> <ng-pate ng-if="seleccionados > 1 ">cuentas: ${{saldoTotal}}</ng-pate>
          </div>
        </button>
      </div>

      <div class="clearfix"></div>
      <h4>Seleccione boletas a pagar</h4>

      <div class="box impagos" ng-class="{'seleccionada' : documento.seleccionado}" ng-click="selectDocumento($index)" ng-repeat="documento in cuenta.documentos">
        <div class="check">
          <span class="ti-check"></span>
        </div>
        <div class="row">
          <div class="col-75">
            <div class="contain">
              <p>Fecha de emisión {{documento.fechaVcto}}</p>
              <p>Fecha de vencimiento {{documento.fechaVcto}}</p>
              <p class="total">TOTAL A PAGAR {{documento.saldo | currency:"$":0}}</p>
            </div>
          </div>
          <div class="col">
            <div class="ver-boleta" ng-click="abrirExterna(documento.url)">
              <div class="ti-receipt"></div>
              ver boleta
            </div>
          </div>
        </div>
      </div>
      <div class="clear-20"></div>
    </div>
  </ion-content>
</ion-view>
