<ion-view view-title="Configuración" hide-back-button="true">
  <ion-nav-bar class="bar-stable notificaciones-head">
    <ion-nav-back-button>
      <button class="button button-clear go-back" ng-click="goBack()">
        <span class="ti-back-left"></span>
      </button>
      <button class="button button-clear go-homi" ui-sref="app.home">
        <span class="ti-home"></span>
      </button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="new-look">
      <h4>Selecciona las notificaciones que deseas recibir</h4>
      <div class="row no-padd">
        <div class="col">
          <ul class="list notificacion">
            <li class="item item-toggle">
               <h2>Notificaciones boletas/facturas vencidas</h2>
               <label class="toggle toggle-balanced">
                 <input type="checkbox" checked>
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               <h2>Notificaciones cortes programados</h2>
               <label class="toggle toggle-balanced">
                 <input type="checkbox" checked>
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               <h2>Notificaciones cortes no programados</h2>
               <label class="toggle toggle-balanced">
                 <input type="checkbox" checked>
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
<!--             <li class="item item-toggle">
               <h2>Al iniciar aplicación, visualizar directamente información de mis servicios</h2>
               <label class="toggle toggle-balanced">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


