<ion-view view-title="Configuración">
  <ion-header-bar>
    <h1 class="title">Configuración</h1>
    <div>
      <button class="button button-clear back-header" ng-click="goBack()"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="contenido">
      <div class="row">
        <div class="col">
          <ul class="list notificacion">
            <li class="item item-toggle">
               <h2>Notificaciones boletas/facturas vencidas</h2>
               <label class="toggle toggle-balanced">
                 <input type="checkbox" checked>
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               <h2>Notificaciones cortes programados</h2>
               <label class="toggle toggle-balanced">
                 <input type="checkbox" checked>
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               <h2>Notificaciones cortes no programados</h2>
               <label class="toggle toggle-balanced">
                 <input type="checkbox" checked>
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
<!--             <li class="item item-toggle">
               <h2>Al iniciar aplicación, visualizar directamente información de mis servicios</h2>
               <label class="toggle toggle-balanced">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


