  <ion-header-bar>
    <h1 class="title">Registrarme</h1>
    <div>
      <button class="button button-clear back-header" ui-sref="login"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ul class="pasos">
      <li class="one" ng-class="{1 : 'active'}[regdata.paso]"><strong>1</strong></li>
      <li class="two" ng-class="{2 : 'active'}[regdata.paso]"><strong>2</strong></li>
      <div class="clearfix"></div>
    </ul>
	<div ui-view name="registros"></div>
  </ion-content>