    <div class="registerForm1">
      <form>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Nombre o razón social">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="RUT">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Nombre de contacto">
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Teléfono celular">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Contraseña">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Repetir contraseña">
          </label>
          <label>
            <button class="button button-block" ui-sref="register.addaccount" type="submit">Continuar</button>
          </label>
        </div>
      </form>
    </div>
