<div class="registerForm2">
  <form>
    <div class="list list-inset">

	    <div class="add-account">
			<label class="item item-input item-select">
				<div class="input-label">
					Empresa
				</div>
				<select>
					<option value="frontel">Frontel</option>
					<option value="luz-osorno">Luz Ososrno</option>
					<option value="saesa" selected>Saesa</option>
					<option value="edelaysen">Edelaysen</option>
				</select>
			</label>
			<div class="row no-padding">
			    <div class="col col-75 no-padding">
					<label class="item item-input"><input type="text" placeholder="Número de cliente" name="numCliente"></label>
			    </div>
			    <div class="col no-padding"><div class="op-addAccount" id="numCliente"><span class="ti-help"></span></div></div>
		    </div>
			<div class="row no-padding">
			    <div class="col col-75 no-padding">
					<label class="item item-input"><input type="text" placeholder="Número de boleta o factura" name="numCliente"></label>
			    </div>
			    <div class="col no-padding"><div class="op-addAccount" id="numBoleta"><span class="ti-help"></span></div></div>
		    </div>
			<label class="item item-input">
				<input type="text" placeholder="Relación con la propiedad">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Nombre de la cuenta: Mi casa">
			</label>
			<div class="clearfix"></div>
	    </div>

      <label>
        <button class="button button-block" type="submit">Continuar</button>
      </label>
    </div>
  </form>
</div>