<ion-view view-title="resumen cuenta" enable-menu-with-back-views="false">
  <ion-header-bar>
    <h1 class="title">resumen cuenta</h1>
    <div ng-click="goBack()">
      <button class="button button-clear back-header"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="contenido">
      <div class="row">
        <div class="col col-75 datos">
          <h3>Edilia Sanchez</h3>
          <p>Rut: 0</p>
          <p>Número de cliente: 212460782085</p>
          <p>Dirección: Los Narcizos 1660</p>
          <p>Comuna: Osorno</p>
          <p>Estado de Servicio: Activo</p>
          <p>Tipo Tarifa: BT1</p>
        </div>
        <div class="col">
          <div class="ver-boleta">
            <div class="ti-file"></div>
            Ver boleta
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert" ui-sref="app.documentos-impagos">
            <h6>(2) documentos impagos <span class="ti-share"></span></h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="box">
            <div class="row">
              <div class="col-67">
                  <p>Deuda Total</p>
                  <p>Deuda Vencida</p>
                  <p>Vencimiento doc. más ant.</p>
                  <p>Monto Último Pago  </p>
                  <p>Fecha Último Pago</p>
                  <p class="total">TOTAL A PAGAR</p>
              </div>
              <div class="col-33">
                  <p>$17.000</p>
                  <p>$0</p>
                  <p>04-06-2015</p>
                  <p>$15.600</p>
                  <p>04-05-2015</p>
                  <p class="total">$17.000</p>
              </div>
            </div>
            <div class="text-center">
              <p class="legend">Fecha corte por no pago: 20-07-2015</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="box resumen">
            <div class="chartTitle">Cuadro Comparativo</div>
            <div id="chartContainer" class="chartStyle"></div>
            <div class="text-center">
              <div class="chart-comp chart-actual">
                <span class="icon-chart-actual"></span>
                Año actual
              </div>
              <div class="chart-comp chart-anterior">
              <span class="icon-chart-anterior"></span>
                Año pasado
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="btn-main">
            <div class="btn">
              <span class="ti-mobile"></span>
              Fonoservicio
            </div>
            <div class="btn pull-right" ui-sref="app.oficinas">
              <span class="ti-location-pin"></span>
              Oficinas
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>

