<ion-view view-title="servicios asociados">
  <ion-header-bar>
    <h1 class="title">servicios asociados</h1>
    <div>
      <button class="button button-clear back-header" ui-sref="login"><span class="ti-back-left"></span></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="contenido">
      
      <div class="gradient-left"></div>
      <div class="gradient-right"></div>
      
      <ion-slide-box on-slide-changed="slideChanged()" active-slide="activeSlide" show-pager="false">
        <ion-slide ng-repeat="servicio in slideServicios" class="ion-slide menu-asociados">
          <span class="ti-angle-left" ng-click="prevSlide()"></span>
          <span class="ti-angle-right" ng-click="nextSlide()"></span>
          <a class="{{servicio.estado}}">{{servicio.servicio}}</a><!-- app.servicios-asociados.detalle({id:1}) -->
        </ion-slide>
      </ion-slide-box>

      <ion-slide-box on-slide-changed="slideChanged()" active-slide="activeSlide" show-pager="false" delegate-handle="slider-asociados">
        <ion-slide ng-repeat="servicio in slideServicios" class="ion-slide contenedor-asociados">
          <div class="box-container">
            <div ng-if="servicio.estado=='vencida' || servicio.estado=='por-vencer'" class="alert {{servicio.estado}}">              
              <div ng-if="servicio.estado=='vencida'"><span class="ti-announcement"></span>Propiedad con suministro cortado</div>
              <div ng-if="servicio.estado=='por-vencer'"><span class="ti-announcement"></span>Propiedad a punto de vencer</div>
            </div>          
            <p>{{servicio.info}}</p>
            <p ng-if="servicio.estado=='vencida'">Para regularizar dirijasé nuestras oficinas lo más pronto posible para evitar más cargos de reposición de servicio.</p>
          </div>
        </ion-slide>
      </ion-slide-box>

      <div class="btn-main">
        <div class="btn">
          <span class="ti-mobile"></span>
          Fonoservicio
        </div>
        <div class="btn pull-right" ui-sref="app.oficinas">
          <span class="ti-location-pin"></span>
          Oficinas
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>


