<ion-view view-title="Servicios asociados" enable-menu-with-back-views="true">
  <ion-header-bar>
  </ion-header-bar>
  <ion-content>
    <div class="contenido">
      <div class="gradient-left"></div>
      <div class="gradient-right"></div>
      <ion-slide-box on-slide-changed="slideChanged()" active-slide="activeSlide" show-pager="false" ng-if="slideServicios">
        <ion-slide ng-repeat="servicio in slideServicios" class="ion-slide menu-asociados">
          <span class="ti-angle-left" ng-click="prevSlide()"></span>
          <span class="ti-angle-right" ng-click="nextSlide()"></span>
          <a class="{{servicio.detalles.details.estadoServicio}}">{{servicio.propiedad.property_nickname  | capitalize}}</a><!-- app.servicios-asociados.detalle({id:1}) -->
        </ion-slide>
      </ion-slide-box>

      <ion-slide-box on-slide-changed="slideChanged()" active-slide="activeSlide" show-pager="false" delegate-handle="slider-asociados">
        <ion-slide ng-repeat="servicio in slideServicios" class="ion-slide contenedor-asociados">
          <div class="box-container">
            <div ng-if="servicio.estado=='vencida' || servicio.estado=='por-vencer'" class="alert {{servicio.estado}}">
              <div ng-if="servicio.estado=='vencida'"><span class="ti-announcement"></span>Propiedad con suministro cortado</div>
              <div ng-if="servicio.estado=='por-vencer'"><span class="ti-announcement"></span>Propiedad a punto de vencer</div>
            </div>

            <div class="asociados-service">       
              <p>Nombre Titular: <strong>{{servicio.detalles.details.nombreTitular  | capitalize}}</strong></p>
              <p>Estado del servicio: <strong>{{servicio.detalles.details.estadoServicio  | capitalize}}</strong></p>
              <p>Fecha de corte: <strong>{{servicio.detalles.financial.fechaCorte }}</strong></p>
              <button class="button button-positive" ng-disabled="servicio.esPortada" ng-click="marcarComoPortada(servicio.propiedad.id)">
                <span ng-show="servicio.esPortada">Propiedad de Portada</span>
                <span ng-hide="servicio.esPortada">Mostrar en portada</span>
              </button>
            </div>
            <!--<p ng-if="servicio.estado=='vencida'">Para regularizar dirijasé nuestras oficinas lo más pronto posible para evitar más cargos de reposición de servicio.</p>-->
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>