/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'DINNextLTPro-Regular';
    src:url('../fonts/DINNextLTPro-Regular.eot');
    src:url('../fonts/DINNextLTPro-Regular.eot') format('embedded-opentype'),
        url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
        url('../fonts/DINNextLTPro-Regular.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINNextLTPro-Light_0';
    src:url('../fonts/DINNextLTPro-Light_0.eot');
    src:url('../fonts/DINNextLTPro-Light_0.eot') format('embedded-opentype'),
        url('../fonts/DINNextLTPro-Light_0.woff') format('woff'),
        url('../fonts/DINNextLTPro-Light_0.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-Light_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
}
body{
    /*font-family: 'DINNextLTPro-Regular';*/
}
a{
	cursor: pointer;
	color: #00599b;
	margin-top: 5px;
	font-size: 13px;
    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
    text-decoration: underline;
}
a.pull-right.button.button-clear.button-positive,
a.button.button-positive.button-clear{
	cursor: pointer;
	color: #00599b;
	margin-top: 5px;
	font-size: 13px;
    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
    text-decoration: underline;
}
input,
textarea,
.card .item.item-input{
	box-shadow: none!important;
}
.button .icon{

}
.clear{
	clear: both;
}
.clear-20{
	clear:both;
	padding: 10px 0;
}
.clear-40{
	clear:both;
	padding: 20px 0;
}
.clear-30{
	clear:both;
	padding: 15px 0;
}
.rojo{
	color:#ec0a0a;
}
.no-padding{
	padding: 0;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.load{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	background: #dadada;
	background: -moz-linear-gradient(top,  #dadada 0%, #f7f5f4 50%, #e4d7d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dadada), color-stop(50%,#f7f5f4), color-stop(100%,#e4d7d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dadada 0%,#f7f5f4 50%,#e4d7d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dadada 0%,#f7f5f4 50%,#e4d7d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dadada 0%,#f7f5f4 50%,#e4d7d6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dadada 0%,#f7f5f4 50%,#e4d7d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#e4d7d6',GradientType=0 ); /* IE6-9 */
	.logo-load{
		width: 220px;
		height: 45px;
		background: url(../img/logo.png) no-repeat;
		background-size: 100%;
		position: relative;
		top: 50%;
		margin: -19px auto 0;
	}
}
.bar.bar-header{
	background-color: #00599b;
	border-top: none;
	border-bottom: none;
	.title{
		color: #fff;
	    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	    font-weight: normal;
	    font-size: 16px;
	    overflow: inherit;
	    width: 100%;
	    left: 0!important;
	    right: 0!important;
	    padding: 0 29px;
	    margin: 0;
	    text-align: center;
	}
	.button.button-clear{
		color: #fff;
		.icon.ion-close:before{
		    font-size: 17px;
		}
	}
}
.modal{
	background: #fcfcfc;
}
.logo-login{
	width: 180px;
	height: 37px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: 50%;
	margin: 40px auto;
}
.item-input{
	margin-bottom: 15px;
    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	padding: 4px 0 4px 16px;
}
.op-addAccount {
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ddd;
	position: relative;
	vertical-align: middle;
	display: block;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	margin: 6px auto;
	font-size: 15px;
	color: #666666;
	.ti-close{
		font-size: 11px;
	}
}
.button.button-block{
	background: #f6b412;
	border:none;
	border-bottom: 2px solid #dda210;
    font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 15px;
	min-height: 50px;
	cursor: pointer;
    padding-top: 5px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
h3.modal-test{
    font-size: 16px;
    margin: 40px;
}
.button.button-block:hover{
	background: #f7be32;
}
.back-header{
	left: 10px;
}
.pasos{
	margin: 0 0 10px;
	padding: 0;
	position: relative;
    font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
}

ul.pasos {
	li{
		position: relative;
		background: #e7e7e7;
		color: #fff;
		width: 50%;
		float: left;
		margin: 0;
		padding: 20px 0;
		text-align: center;
		font-size: 18px;
	}
	li:first-child:before{
		content: "";
		position: absolute;
		left: 100%;
	 	z-index: 1;
		width: 0;
		height: 0;
		top: 0;
		background: none;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		border-left: 15px solid #e7e7e7;
	}
	li.active{
		background: #d4d4d4;
	}
	li.active:first-child:before{
		background: none;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		border-left: 15px solid #d4d4d4;
	}
}
.list-inset{
	margin: 20px;
	background: none;
	.add-account{
		.input-label{
			font-size: 14px;
			color: #b6b6b6;
		    padding: 4px 10px 2px 4px;
		}
		.item-select select{
			padding: 1px 5px 3px 0;
			color: #b6b6b6;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			font-size: 14px;
			max-width: 100%;
			position: relative;
			top: 2px;
			direction: inherit;
		}
		textarea{
			color: #b6b6b6;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			font-size: 14px;
			min-height: 100px;
			padding-top: 10px;
		}
		input[type="file"]{
			display: none;
		}
		.row.no-padding{
			margin-bottom: 15px;
		}
		.row + .row{
			margin-top: 0;
		}
		.separate{
			text-align: right;
			margin: 15px 0;
			padding: 15px 0 0 0;
			border-top: 1px solid #ddd;
			.op-addAccount {
				width: 24px;
				height: 24px;
				line-height: 20px;
				display: inline-block;
				margin: 0;
				.ti-close{
					font-size: 8px;
				}
			}	
		}
		.text-right{
			a{
				margin: 0 0 0 15px;
			}
		}
		.item.item-input input{
			padding-right: 15px;
		}
		.item.item-input.upload{
			width: auto;
			display: inline-block;
			color: #00599b;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			padding:0 16px 6px 16px;
			font-size: 13px;
			line-height: 13px;
			span{
				font-size: 22px;
				margin-left: 10px;
				position: relative;
				top: 3px;
			}
		}
	}
	.oficinas{
		h3{
			font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			font-size: 14px;
			color: #454545;
			margin: 0;
		}
		h6{
			color: #858585;
			font-family: "Myriad Pro", Arial;
			font-weight: normal;
			margin: 0;
		}
		.ticon{
			color: #858585;
			display: inline-block;
			font-size: 26px;
		}
		.row.no-padding.la-oficina{
			padding: 15px 0;
			border-bottom: 1px solid #cbcbcb;
			margin-bottom: 0;
		}
		.item-complex{
			border:none;
			margin-top: 0;
			margin-bottom: 0;
			background-color: #fcfcfc;
		}
		.item-content{
			width: 100%;
			padding: 0;
			background-color: #fcfcfc;
		}
	}
}
.pane{
	background: #fcfcfc;
}
.contenido{
	padding: 10px;
	margin-bottom: 20px;
	&:after,
	&:before{
		display: block;
		content: "";
		clear: both;
	}
	.datos{
		h3{
			font-size: 16px;
			line-height: 18px;
			margin: 0 0 3px;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		p{
			margin: 0;
			font-size: 13px;
			line-height: 15px;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
	}
	.ver-boleta{
		width: 64px;
		height: 64px;
		padding: 12px 0;
		border: 1px solid #ddd;
		margin: 0 auto;
		color: #00599b;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		/*border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		-o-border-radius: 100%;*/
		.ti-file{
			font-size: 18px;
		}
	}
	.alert{
		background: #ffffcc;
		padding: 8px 15px;
		color: #cc6600;
		margin: 5px 0;
		h6{
			margin:0;
			font-size: 12px;
			color: #cc6600;
			font-weight: normal;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			.ti-share{
				float: right;
				color: #cc6600;
				font-size: 15px;
			}
		}
	}
	.box{
	    padding: 10px 6px;
		margin-bottom: 5px;
		border: 1px solid #ddd;
		.col-67{
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 75%;
		    -moz-box-flex: 0;
		    -moz-flex: 0 0 75%;
		    -ms-flex: 0 0 75%;
		    flex: 0 0 75%;
		    max-width: 75%;
		}
		.col-33{
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 25%;
		    -moz-box-flex: 0;
		    -moz-flex: 0 0 25%;
		    -ms-flex: 0 0 25%;
		    flex: 0 0 25%;
		    max-width: 25%;
		}
		p{
		  margin: 0;
		  font-size: 12px;
		  line-height: 16px;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		p.total{
			font-weight: bold;
			margin-top: 15px;
			font-size: 13px;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		p.legend{
			margin-top: 10px;
			font-size: 11px;
			font-style: italic;
		}
		.chartStyle{
			height: 175px;
			width: 100%;
		    margin-top: 20px;
		}
		.chartTitle{
			text-align: center;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		    font-size: 13px;
    		position: relative;
    		z-index: 1;
    		margin-bottom: -20px;
		}
		.chart-comp{
			display: inline-block;
			border-radius: 2px;
			border: 1px solid #f3f3f3;
			color: #666;
			position: relative;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			font-size: 11px;
			padding: 4px 10px 2px;
			line-height: 11px;
			.icon-chart-actual{
				width: 20px;
				height: 10px;
				background: url(../img/chart-actual.png) no-repeat;
				display: inline-block;
				background-size: contain;
				margin-right: 5px;
			}
			.icon-chart-anterior{
				width: 15px;
				height: 10px;
				background: #d7e4ec;
				display: inline-block;
				background-size: contain;
				margin-right: 5px;
			}
		}
		.canvasjs-chart-container{
			background: #fcfcfc;
		}
		.canvasjs-chart-credit{
			display: none;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
	}
	.box.impagos{
		padding: 0;
		margin-bottom: 10px;
		.row{
			padding: 0;
		}
		.col{
			padding: 0;
		}
		.ver-boleta{
			margin: 0;
			width: 100%;
			height: auto;
			border: none;
			border-left: 1px solid #ddd;
			padding: 18px 0;
			.ti-file{
				font-size: 31px;
			}
		}
		.contain{
			padding: 10px;
			p.total{
	    		font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	    		margin-top: 2px;
			}
		}
	}
	.box.resumen{
		padding: 10px 5px;
	}
	.btn-main{
		.btn{
			background: #edf3f6;
			color: #00599b;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			-o-border-radius: 2px;
			display: inline-block;
			border-bottom: 2px solid #cde1eb;
			font-size: 14px;
			text-align: center;
			width: 130px;
			height: 38px;
			line-height: 42px;
    		font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
    		margin: 15px 0;
    		span{
    			margin-right: 4px;
    			font-size: 18px;
    			position: relative;
    			top: 1px;
    		}
		}
	}
	.btn-main.center{
		display: block;
		width: 100%;
		text-align: center;
		.btn{
			margin: 0 auto 5px;
			display: inline-block;
			width: auto;
			padding: 0 15px;
			span{
				font-size: 14px;
			}
		}
	}
	.group-box{
		border-top: 1px solid #ddd;
		padding: 10px 0;
		&:after,
		&:before{
			display: block;
			content: "";
			clear: both;
		}
		.col-55{
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 55%;
		    -moz-box-flex: 0;
		    -moz-flex: 0 0 55%;
		    -ms-flex: 0 0 55%;
		    flex: 0 0 55%;
		    max-width: 55%;
		    .row{
		    	padding: 0;
		    	.col{
		    		padding: 0;
		    		width: 40px;
		    	}
		    }
		}
		.col-45{
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 45%;
		    -moz-box-flex: 0;
		    -moz-flex: 0 0 45%;
		    -ms-flex: 0 0 45%;
		    flex: 0 0 45%;
		    max-width: 45%;
		}
		.btn {
		    background: #edf3f6;
		    color: #00599b;
		    border-radius: 2px;
		    -moz-border-radius: 2px;
		    -webkit-border-radius: 2px;
		    -o-border-radius: 2px;
		    display: inline-block;
		    border-bottom: 2px solid #cde1eb;
		    font-size: 13px;
		    text-align: center;
		    width: 93%;
		    height: 32px;
		    line-height: 34px;
		    font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		    margin: 0 0;
		    span{
		    	font-size: 20px;
		    	position: relative;
		    	top: 1px;
		    	margin-right: 2px;
		    }
		}
		&:first-child{
			border: none;
		}
		&.pro{
			border: 1px solid #ddd;
			margin-top: 10px;
			.btn{
				line-height: 42px;
				height: 38px;
				margin-bottom: 0;
				&.rrss{
					width: 50px;
					line-height: 46px;
				}
			}
			.img-center{
				margin: 0 auto 15px;
			}
		}
	}

}
.list.notificacion{
	.item{
		h2{
		    white-space: normal;
		    font-size: 14px;
		    color: #666;
		}
	}
	.item-toggle{
		.toggle{
			margin-top: 2px;
		}
	}
}
.contenido-mapa{
	height: 400px;
	margin-bottom: 10px;
	font-family: "Myriad Pro", Arial;
	.map-content{
		height: 400px;
		#map{
			height: 400px;
		}
	}
	p{
		font-family: "Myriad Pro", Arial;
	}
}
.myriad{
	font-family: "Myriad Pro", Arial;
}
.angular-leaflet-map {
  height: 400px;
}
.menu .list {
	.item{
		padding: 5px;
		.item-content{
			padding: 0;
			margin: 0;
    		font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		h2{
			font-size: 14px;
			font-weight: normal;
			color: #454545;
			margin: 0;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		h3{
			font-size: 14px;
			font-weight: normal;
			color: #848484;
			margin: 0;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		.ticon{
			color: #00599b;
			font-size: 20px;
		}
		.ttl{
			.ticon{
				margin-right: 10px;
				font-size: 16px;
			}
			h4{
				color: #00599b;
    			font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
				font-size: 16px;
				margin: 0;
			}
			ul{
				margin: 5px 0 0 0;
				padding: 0 0 0 50px;
				li{
					font-size: 12px;
		    		font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		    		width: 130px;
		    		position: relative;
		    		margin: 0 0 2px;
				}
				li:before{
					content:"";
					width: 6px;
					height: 6px;
					border-radius: 100%;
					-moz-border-radius: 100%;
					-webkit-border-radius: 100%;
					-o-border-radius: 100%;
					background: #26c281;
					position: absolute;
					right: 100%;
					top: 6px;
					margin-right: 5px;
				}
				li.por-vencer:before{
					background: #f7ca18;
				}
				li.vencida:before{
					background: #dc3023;
				}
			}
			a.agregar-servicio{
				float: right;
				font-size: 12px;
			}
		}
	}
}
.preview-foto{
	img{
		max-width: 100%;
	}
}
/*servicios asociados*/
.wide-as-needed {
  white-space: nowrap;
}
.scroll { 
  min-width: 100%;
}

.gradient-left{
	width: 30px;
	height: 32px;
	background: url(../img/gradient-right.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}
.gradient-right{
	width: 30px;
	height: 32px;
	background: url(../img/gradient-left.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}
.menu-asociados{
	position: relative;
	text-align: center;
	margin: 0 auto;
	.ti-angle-left{
		position: absolute;
		left: 30px;
		top: 8px;
		z-index: 2;
		color:#adadad;
	}
	.ti-angle-right{
		position: absolute;
		right: 30px;
		top: 8px;
		z-index: 2;
		color:#adadad;
	}
	a{
		color: #666666;
		text-decoration: none;
		font-size: 14px;
		font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		padding: 0 0 5px 0;
		margin-bottom: 20px;
		position: relative;
		display: inline-block;
		border-bottom: 2px solid #00599b;
	}
	a:after{
		content:"";
		width: 6px;
		height: 6px;
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		-o-border-radius: 100%;
		background: #26c281;
		position: absolute;
		top: 5px;
		display: inline-block;
		margin-left: 15px;
	}
	a.por-vencer:after{
		background: #f7ca18;
	}
	a.vencida:after{
		background: #dc3023;
	}
	a.active{
		border-bottom: 2px solid #00599b;
	}
}
.menu-asociados:first-child{
	.ti-angle-left{
		display: none;
	}
}
.menu-asociados:last-child{
	.ti-angle-right{
		display: none;
	}
}
.contenedor-asociados{
	.alert{
		color: #d03131;
		background: #c0ffaf;
		font-size: 13px;
		margin-bottom: 20px;
		margin-top: 0;
		span{
			font-size: 17px;
			margin-right: 15px;
			position: relative;
			top: 2px;
		}
	}
	.alert.vencida{
		background: #fbdbdb;
	}
	.alert.por-vencer{
		background: #faf0cb;
		color: #e59c00;
	}
}
p{
	font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	color: #8e8e8e;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 15px;
}
.notificacion{
	font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	white-space: normal;
	border: none;
	padding: 0;
	margin-top: 15px;
	.row{
		padding: 15px 15px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-o-border-radius: 2px;
		vertical-align: middle;
		p{
			font-size: 13px;
		}
	}
	.row.media{
		background: #ffffcc;
		color: #cc6600;
		p{
			color: #cc6600;
		}
	}
	.row.alta{
		background: #fbdbdb;
		color: #d03131;
		p{
			color: #d03131;
		}
	}
	p{
		white-space: normal;
	}
	.ti-close{
		
		vertical-align: middle;
		position: relative;
		display: inline-block;
	}
}
.back-anteriores .bar.bar-header .button.button-clear{
	display: inline-block;
}
.back-anteriores .bar.bar-header .button.button-clear i{
	transform: scale(0.5);
   -moz-transform: scale(0.5);
   -o-transform: scale(0.5);
   zoom:0.5;
}
span.back-text{
	display: none!important;
}
.showsBoleta{
	position: absolute;
	background: rgba(0,0,0,.5);
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	z-index: 10;
	padding: 80px 15px;
	display: none;
	img{
		max-width: 100%;
	}
	span{
		color: #fff;
		font-size: 20px;
	}
}
/*RETINA*/
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	.logo-login{
		background: url(../img/logo@2x.png) no-repeat;
		background-size: contain;
	}
}