/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'DINNextLTPro-Regular';
    src:url('../fonts/DINNextLTPro-Regular.eot');
    src:url('../fonts/DINNextLTPro-Regular.eot') format('embedded-opentype'),
        url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
        url('../fonts/DINNextLTPro-Regular.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINNextLTPro-Light_0';
    src:url('../fonts/DINNextLTPro-Light_0.eot');
    src:url('../fonts/DINNextLTPro-Light_0.eot') format('embedded-opentype'),
        url('../fonts/DINNextLTPro-Light_0.woff') format('woff'),
        url('../fonts/DINNextLTPro-Light_0.ttf') format('truetype'),
        url('../fonts/DINNextLTPro-Light_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
}
body{
    /*font-family: 'DINNextLTPro-Regular';*/
}
a{
	cursor: pointer;
	color: #00599b;
	margin-top: 5px;
	font-size: 13px;
    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
    text-decoration: underline;
}
a.pull-right.button.button-clear.button-positive,
a.button.button-positive.button-clear{
	cursor: pointer;
	color: #00599b;
	margin-top: 5px;
	font-size: 13px;
    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
    text-decoration: underline;
}
input, textarea, select, label{
  &.invalida{
    border-color: rgba(255,0,0,.8);
    outline: 0;
    outline: thin dotted\9;
    -webkit-box-shadow: 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: 0 0 8px rgba(255,0,0,.6);
  }
  &.valida{
    border-color: rgba(40, 165, 76, 0.8);
    outline: 0;
    outline: thin dotted\9;
    -webkit-box-shadow: 0 0 8px rgba(40, 165, 76, 0.6);
    box-shadow: 0 0 8px rgba(40, 165, 76,.6);
  }
}

input,
textarea,
.card .item.item-input{
	box-shadow: none!important;
}
.button .icon{

}
.text-justify{
  text-align: justify;
}
.clear{
	clear: both;
}
.clear-10{
	clear:both;
	padding: 5px 0;
}
.clear-20{
	clear:both;
	padding: 10px 0;
}
.clear-40{
	clear:both;
	padding: 20px 0;
}
.clear-30{
	clear:both;
	padding: 15px 0;
}
.rojo{
	color:#ec0a0a;
}
.no-padding{
	padding: 0;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.load{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	background: #dadada;
	background: -moz-linear-gradient(top,  #dadada 0%, #f7f5f4 50%, #e4d7d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dadada), color-stop(50%,#f7f5f4), color-stop(100%,#e4d7d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dadada 0%,#f7f5f4 50%,#e4d7d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dadada 0%,#f7f5f4 50%,#e4d7d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dadada 0%,#f7f5f4 50%,#e4d7d6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dadada 0%,#f7f5f4 50%,#e4d7d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#e4d7d6',GradientType=0 ); /* IE6-9 */
	.logo-load{
		width: 220px;
		height: 45px;
		background: url(../img/logo.png) no-repeat;
		background-size: 100%;
		position: relative;
		top: 50%;
		margin: -19px auto 0;
	}
}
.bar.bar-header{
	background-color: #00599b;
	border-top: none;
	border-bottom: none;
	.title{
		color: #fff;
	    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	    font-weight: normal;
	    font-size: 16px;
	    overflow: inherit;
	    width: 100%;
	    left: 0!important;
	    right: 0!important;
	    padding: 0 29px;
	    margin: 0;
	    text-align: center;
	}
	.button.button-clear{
		color: #fff;
		.icon.ion-close:before{
		    font-size: 17px;
		}
	}
}
.modal{
	background: #fcfcfc;
}
.logo-login{
	width: 180px;
	height: 37px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: 0;
	margin: 40px auto;
}
.item-input{
	margin-bottom: 15px;
    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	padding: 4px 0 4px 16px;
}
.op-addAccount {
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ddd;
	position: relative;
	vertical-align: middle;
	display: block;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	margin: 6px auto;
	font-size: 15px;
	color: #666666;
	.ti-close{
		font-size: 11px;
	}
}
h3.modal-test{
    font-size: 16px;
    margin: 40px;
}

.back-header{
	left: 10px;
}
.pasos{
	margin: 0 0 10px;
	padding: 0;
	position: relative;
    font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
}

ul.pasos {
	li{
		position: relative;
		background: #e7e7e7;
		color: #fff;
		width: 50%;
		float: left;
		margin: 0;
		padding: 20px 0;
		text-align: center;
		font-size: 18px;
	}
	li:first-child:before{
		content: "";
		position: absolute;
		left: 100%;
	 	z-index: 1;
		width: 0;
		height: 0;
		top: 0;
		background: none;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		border-left: 15px solid #e7e7e7;
	}
	li.active{
		background: #d4d4d4;
	}
	li.active:first-child:before{
		background: none;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		border-left: 15px solid #d4d4d4;
	}
}
.list-inset{
	margin: 20px;
	background: none;
	.add-account{
		.input-label{
			font-size: 14px;
			color: #b6b6b6;
		    padding: 4px 10px 2px 4px;
		}
		.item-select select{
			padding: 1px 5px 3px 0;
			color: #000;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			font-size: 14px;
			max-width: 100%;
			position: relative;
			top: 2px;
			direction: inherit;
		}
		textarea{
			color: #000;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			font-size: 14px;
			min-height: 100px;
			padding-top: 10px;
			padding-right: 15px;
		}
		textarea.max-text{

		}
		input[type="file"]{
			display: none;
		}
		.row.no-padding{
			margin-bottom: 15px;
		}
		.row + .row{
			margin-top: 0;
		}
		.separate{
			text-align: right;
			margin: 15px 0;
			padding: 15px 0 0 0;
			border-top: 1px solid #ddd;
			.op-addAccount {
				width: 24px;
				height: 24px;
				line-height: 20px;
				display: inline-block;
				margin: 0;
				.ti-close{
					font-size: 8px;
				}
			}
		}
		.text-right{
			a{
				margin: 0 0 0 15px;
			}
		}
		.item.item-input input{
			padding-right: 15px;
		}
		.item.item-input.upload{
			width: auto;
			display: inline-block;
			color: #00599b;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			padding:0 16px 6px 16px;
			font-size: 13px;
			line-height: 13px;
			margin-bottom: 0;
			span{
				font-size: 22px;
				margin-left: 10px;
				position: relative;
				top: 3px;
			}
		}
		h6{
			margin-bottom: 0;
			color: #00599b;
		}
	}
	h6{
		margin-bottom: 0;
		color: #00599b;
	}
	.oficinas{
		h3{
			font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			font-size: 14px;
			color: #454545;
			margin: 0;
			text-transform: capitalize;
		}
		h6{
			color: #858585;
			font-family: "Myriad Pro", Arial;
			font-weight: normal;
			margin: 0;
		}
		.ticon{
			color: #858585;
			display: inline-block;
			font-size: 26px;
		}
		.row.no-padding.la-oficina{
			padding: 15px 0;
			border-bottom: 1px solid #cbcbcb;
			margin-bottom: 0;
		}
		.item-complex{
			border:none;
			margin-top: 0;
			margin-bottom: 0;
			background-color: #fcfcfc;
		}
		.item-content{
			width: 100%;
			padding: 0;
			background-color: #fcfcfc;
		}
	}
}
.pane{
	background: #fcfcfc;
}
.contenido,
.new-look{
	padding: 10px;
	margin-bottom: 13%;
	&:after,
	&:before{
		display: block;
		content: "";
		clear: both;
	}
	.datos{
		h3{
			font-size: 16px;
			line-height: 18px;
			margin: 0 0 3px;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		p{
			margin: 0;
			font-size: 13px;
			line-height: 15px;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
	}
	.ver-boleta{
    width: 92px;
    height: 60px;
    padding: 12px 0;
    border: 1px solid #ddd;
    margin: 0 auto;
    color: #00599b;
    text-align: center;
    font-size: 9px;
    line-height: 20px;
    font-weight: bold;

		/*border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		-o-border-radius: 100%;*/
		.ti-file{
			font-size: 18px;
		}
	}

	.la-boleta{
		font-size:12px;
		text-decoration:none;
		position: relative;
		right: 20px;
		&:visited, &:hover{
			text-decoration:none;
		}
	}

	.alert{
		background: #ffffcc;
		padding: 8px 15px;
		color: #cc6600;
		margin: 5px 0;
		h6{
			margin:0;
			font-size: 12px;
			color: #cc6600;
			font-weight: normal;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			.ti-share{
				float: right;
				color: #cc6600;
				font-size: 15px;
			}
		}
	}
	.box{
	    padding: 10px 6px;
		margin-bottom: 5px;
		border: 1px solid #ddd;
		.col-67{
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 75%;
		    -moz-box-flex: 0;
		    -moz-flex: 0 0 75%;
		    -ms-flex: 0 0 75%;
		    flex: 0 0 75%;
		    max-width: 75%;
		}
		.col-33{
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 25%;
		    -moz-box-flex: 0;
		    -moz-flex: 0 0 25%;
		    -ms-flex: 0 0 25%;
		    flex: 0 0 25%;
		    max-width: 25%;
		}
		p{
		  margin: 0;
		  font-size: 12px;
		  line-height: 16px;
			font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		p.total{
			font-weight: bold;
			margin-top: 15px;
			font-size: 13px;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		p.legend{
			margin-top: 10px;
			font-size: 11px;
			font-style: italic;
		}
		.chartStyle{
			height: 175px;
			width: 100%;
		    margin-top: 20px;
		}
		.chartTitle{
			text-align: center;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		    font-size: 13px;
    		position: relative;
    		z-index: 1;
    		margin-bottom: -20px;
		}
		.chart-comp{
			display: inline-block;
			border-radius: 2px;
			border: 1px solid #f3f3f3;
			color: #666;
			position: relative;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
			font-size: 11px;
			padding: 4px 10px 2px;
			line-height: 11px;
			.icon-chart-actual{
				width: 20px;
				height: 10px;
				background: url(../img/chart-actual.png) no-repeat;
				display: inline-block;
				background-size: contain;
				margin-right: 5px;
			}
			.icon-chart-anterior{
				width: 15px;
				height: 10px;
				background: #d7e4ec;
				display: inline-block;
				background-size: contain;
				margin-right: 5px;
			}
		}
		.canvasjs-chart-container{
			background: #fcfcfc;
		}
		.canvasjs-chart-credit{
			display: none;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
	}
    .box.impagos.seleccionada{
        background-color: #B8D64F;
	    p{
	      color: white;
	    }
    }
	.box.impagos{
		padding: 0;
		margin-bottom: 10px;
    	&.selecionada{
    		background-color: #B8D64F;
    	}
		.row{
			padding: 0;
		}
		.col{
			padding: 0;
		}
		.ver-boleta{
			margin: 0;
			width: 100%;
			height: auto;
			border: none;
			border-left: 1px solid #ddd;
			padding: 18px 0;
			.ti-file{
				font-size: 31px;
			}
		}
		.contain{
			padding: 10px;
			p.total{
	    		font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	    		margin-top: 2px;
			}
		}
	}
	.box.resumen{
		padding: 10px 5px;
	}
	.btn-main{
		.btn{
			background: #edf3f6;
			color: #00599b;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			-o-border-radius: 2px;
			display: inline-block;
			border-bottom: 2px solid #cde1eb;
			font-size: 14px;
			text-align: center;
			width: 130px;
			height: 38px;
			line-height: 42px;
    		font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
    		margin: 15px 0;
    		span{
    			margin-right: 4px;
    			font-size: 18px;
    			position: relative;
    			top: 1px;
    		}
		}
	}
	.btn-main.center{
		display: block;
		width: 100%;
		text-align: center;
		.btn{
			margin: 0 auto 5px;
			display: block;
			width: auto;
			padding: 0 15px;
			span{
				font-size: 14px;
			}
		}
	}
	.group-box{
		border-bottom: 1px solid #ddd;
		padding: 4px 0;
		&:after,
		&:before{
			display: block;
			content: "";
			clear: both;
		}
		.col-55{
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 45%;
		    -moz-box-flex: 0;
		    -moz-flex: 0 0 45%;
		    -ms-flex: 0 0 45%;
		    flex: 0 0 45%;
		    max-width: 45%;
		    .row{
		    	padding: 0;
		    	.col{
		    		padding: 0;
		    		width: 40px;
		    	}
		    }
		}
		.col-45{
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 0 55%;
		    -moz-box-flex: 0;
		    -moz-flex: 0 0 55%;
		    -ms-flex: 0 0 55%;
		    flex: 0 0 55%;
		    max-width: 55%;
		    padding-left: 15px;
		}
		img{
			max-width: 100%;
			vertical-align: middle;
		}
		a{
			text-decoration: none;
		}
		.btn {
		    background: #edf3f6;
		    color: #00599b;
		    border-radius: 2px;
		    -moz-border-radius: 2px;
		    -webkit-border-radius: 2px;
		    -o-border-radius: 2px;
		    display: inline-block;
		    border-bottom: 2px solid #cde1eb;
		    font-size: 12px;
		    text-align: center;
		    width: auto;
		    height: 32px;
		    line-height: 34px;
		    font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		    margin: 0 0;
		    padding: 0 10px;
		    span{
		    	font-size: 20px;
		    	position: relative;
		    	top: 1px;
		    }
		    .ion-ios-telephone-outline{
		    	margin-right: 3px;
		    }
		    .ti-twitter-alt{
		    	font-size: 14px;
				line-height: 31px;
				padding: 0 5px;
		    }
		}
		&:first-child{
			/*border: none;*/
		}
		&.pro{
			border: 1px solid #ddd;
			margin-top: 10px;
			.btn{
				line-height: 42px;
				height: 38px;
				margin-bottom: 0;
				&.rrss{
					width: 50px;
					line-height: 46px;
				}
			}
			.img-center{
				margin: 0 auto 15px;
			}
		}
	}

}
.asociados-service{
	padding: 10px 0;
	p{
		margin-bottom: 0;
		strong{
			font-weight: bold;
		}
	}
	.button-positive{
	    background: #00599b;
	    color: #edf3f6;
	    border-radius: 2px;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	    -o-border-radius: 2px;
	    display: inline-block;
	    border: none;
	    border-bottom: 2px solid #1d4e66;
	    font-size: 13px;
	    text-align: center;
	    width: auto;
	    height: 32px;
	    line-height: 38px;
	    min-height: 42px;
	    font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	    margin: 15px 0;
	}
	.button-assertive{
		font-size: 13px;
		text-align: center;
		width: auto;
		height: 32px;
		line-height: 38px;
		min-height: 42px;
		font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		margin: 15px 0;
	}
	.button-positive:active,
	.button-positive:focus,
	.button-positive:hover{
	    background: #0566ad;
	    color: #edf3f6;
    }
	.button.disabled, .button[disabled]{
		background: #edf3f6;
		color: #00599b;
	    border-bottom: 2px solid #cde1eb;
	    opacity: .7;
	}
}
.list.notificacion{
	.item{
		h2{
		    white-space: normal;
		    font-size: 14px;
		    color: #666;
		}
	}
	.item-toggle{
		.toggle{
			margin-top: 2px;
		}
	}
}
.contenido-mapa{
	height: 360px;
	margin-bottom: 10px;
	font-family: "Myriad Pro", Arial;
	.map-content{
		height: 360px;
		#map{
			height: 360px;
		}
	}
	p{
		font-family: "Myriad Pro", Arial;
	}
}
.no-mapa{
	padding: 30px;
}
.myriad{
	font-family: "Myriad Pro", Arial;
}
.angular-leaflet-map {
  height: 400px;
}
.menu .list {
	.item{
		padding: 5px;
		.item-content{
			padding: 0;
			margin: 0;
    		font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		h2{
			font-size: 14px;
			font-weight: normal;
			color: #454545;
			margin: 0;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		h3{
			font-size: 14px;
			font-weight: normal;
			color: #848484;
			margin: 0;
		    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		}
		.ticon{
			color: #00599b;
			font-size: 20px;
		}
		.ttl{
			.ticon{
				margin-right: 10px;
				font-size: 16px;
				&.ti-close{
					color: #d80b00;
					font-size: 14px;
					position: relative;
				}
			}
			h4{
				color: #00599b;
    			font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
				font-size: 16px;
				margin: 0;
			}
			ul{
				margin: 5px 0 0 0;
				padding: 0 0 0 26px;
				li{
					font-size: 12px;
		    		font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		    		width: 130px;
		    		width: 100%;
		    		position: relative;
		    		margin: 0 0 2px;
		    		padding: 10px 0;
		    		border-bottom: 1px solid rgba(0,0,0,.1);
				}
				li:before{
					content:"";
					width: 6px;
					height: 6px;
					border-radius: 100%;
					-moz-border-radius: 100%;
					-webkit-border-radius: 100%;
					-o-border-radius: 100%;
					background: #26c281;
					position: absolute;
					right: 100%;
					top: 15px;
					margin-right: 5px;
				}
				li.por-vencer:before{
					background: #f7ca18;
				}
				li.vencida:before{
					background: #dc3023;
				}
			}
			a.agregar-servicio{
			    float: left;
			    font-size: 12px;
			    margin-left: 27px;
			    padding: 7px 0px 0;
			}
		}
	}
}
.preview-foto{
	img{
		max-width: 100%;
	}
}
/*servicios asociados*/
.wide-as-needed {
  white-space: nowrap;
}
.scroll {
  min-width: 100%;
}

.gradient-left{
	width: 30px;
	height: 32px;
	background: url(../img/gradient-right.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}
.gradient-right{
	width: 30px;
	height: 32px;
	background: url(../img/gradient-left.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}
.menu-asociados{
	position: relative;
	margin: 0 auto;
	.ti-angle-left{
		position: absolute;
		left: 30px;
		top: 8px;
		z-index: 2;
		color:#adadad;
	}
	.ti-angle-right{
		position: absolute;
		right: 30px;
		top: 8px;
		z-index: 2;
		color:#adadad;
	}
	a,span{
		color: #454545;
		text-decoration: none;
		font-size: 14px;
		font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
		padding: 0 0 5px 0;
		margin-bottom: 0;
		position: relative;
		display: inline-block;
		border-bottom: none;
	}
	a:before, span:before{
		content:"";
		width: 6px;
		height: 6px;
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		-o-border-radius: 100%;
		background: #26c281;
		position: relative;
		display: inline-block;
		margin-right: 5px;
		top: -2px;
	}
	a.por-vencer:before, span.por-vencer:before{
		background: #f7ca18;
	}
	a.vencida:before, span.vencida:before{
		background: #dc3023;
	}
	a.active, span.active{
		border-bottom: 2px solid #00599b;
	}
}
.menu-asociados:first-child{
	.ti-angle-left{
		display: none;
	}
}
.menu-asociados:last-child{
	.ti-angle-right{
		display: none;
	}
}
.contenedor-asociados{
	.alert{
		color: #d03131;
		background: #c0ffaf;
		font-size: 13px;
		margin-bottom: 20px;
		margin-top: 0;
		span{
			font-size: 17px;
			margin-right: 15px;
			position: relative;
			top: 2px;
		}
	}
	.alert.vencida{
		background: #fbdbdb;
	}
	.alert.por-vencer{
		background: #faf0cb;
		color: #e59c00;
	}
}
p{
	font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	color: #8e8e8e;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 15px;
}
.notificacion{
	font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	white-space: normal;
	border: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
	.row{
		padding: 15px 15px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-o-border-radius: 2px;
		vertical-align: middle;
		p{
			font-size: 13px;
		}
	}
	.row.media{
		background: #ffffcc;
		color: #cc6600;
		p{
			color: #cc6600;
		}
	}
	.row.alta{
		background: #fbdbdb;
		color: #d03131;
		p{
			color: #d03131;
		}
	}
	p{
		white-space: normal;
	}
	.ti-close{
		vertical-align: middle;
		position: relative;
		display: inline-block;
	}
	.item-toggle{
		margin-bottom: 10px;
	    padding: 7px 90px 7px 15px;
	    border-radius: 4px;
	    border-color: #f8f8f8;
	    .toggle{
	    	top: 7%;
	    }
	}
}
.back-anteriores .bar.bar-header .button.button-clear{
	display: inline-block;
}
.back-anteriores .bar.bar-header .button.button-clear i{
	transform: scale(0.5);
   -moz-transform: scale(0.5);
   -o-transform: scale(0.5);
   zoom:0.5;
}
span.back-text{
	display: none!important;
}
.showsBoleta{
	position: absolute;
	background: rgba(0,0,0,.5);
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	z-index: 10;
	padding: 80px 15px;
	display: none;
	img{
		max-width: 100%;
	}
	span{
		color: #fff;
		font-size: 20px;
	}
}
.input-label{
	font-size: 14px;
}
.item-select select{
	padding: 11px 48px 12px 16px;
	font-size: 13px;
	background: none;
	font-size: 14px;
    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
}
.registerForm1{
  .item-checkbox{
    font-size: 12px;
  }
}


/*MARCELONG 2016-07-12 CAMBIOS TOTALES x_x*/
/*VARS NEW*/
$azull: #00599b;
$blanco: #ffffff;
$gris: #454545;
$gris-medium: #e0e0e0;
$girs-light: #f8f8f8;
$color1: #ffb500;
$color2: #1485cc;
$color3: #00b233;
$color4: #ff4c4c;
$color5: #8e30f7;
$color6: #ff8a00;

$light: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
$regular: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;


.bar.bar-header .title{
	font-size: 18px;
	padding: 3px 30px;
}
.button.button-block{
	background: #14cc8a;
	border:none;
	border-bottom: none;
    font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	color: #fff;
	margin: 15px auto 15px;
	min-height: 50px;
	cursor: pointer;
    padding-top: 5px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	border-radius: 25px;
	/*width: 90%;*/
	width: 100%;
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 1px 10px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
.button.button-block span{
	font-size: 14px;
	position: relative;
	left: 10px;
	margin-top: 2px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.button.button-block:hover{
	background: #14cc8a;
	color: rgba(255,255,255,.5);
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}
.button.button-block:hover span{
	left: 20px;
	background: #14cc8a;
	color: rgba(255,255,255,.5);
}
.item{
	input{
	    font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
	} 
}
.registerForm1 .item-checkbox{
	font-family: 'DINNextLTPro-Light_0', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
}
.scroll{
	height: 88%;
}
.ion-new-menu{
	position: absolute;
	bottom: 0;
	z-index: 10;
	background: $blanco;
 	border-top: 1px solid $azull;
 	width: 100%;
 	height: 11%;
	.btn-nav{
		width: 25%;
		float: left;
		height: 100%;
		position: relative;
		display: block;
		padding: 8px 5px;
		text-align: center;
		color: $azull;
		border-right: 1px solid $azull;
		&.current{
			border-bottom: 3px solid $azull;
		}
		h3{
			font-family: $light;
			font-size: 12px;
			color: $azull;
			margin: 0;
		}
		span{
			color: $azull;
			font-size: 15px;
		}
		&:last-child{
			border-right: 1px solid $blanco;
		}
	}
}
.logo-homi{
	width: 100%;
	height: 10%;
	padding: 8px 0 5px;
	display: block;
	position: relative;
	text-align: center;
	z-index: 3;
	.logo-saesa{
		background: url(../img/logo-saesa.png) no-repeat center;
		background-size: contain;
		display: inline-block;
		width: 160px;
		height: 28px;
		position: relative;
		max-height: 100%
	}
}
.v-table{
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
	.v-table-cell{
		display: table-cell;
		vertical-align: middle;
	}
}
.bar.bar-header .button.button-clear{
	span{
		font-size: 20px;
		position: relative;
		top: 3px;
	}
	&.go-homi{
		right: 15px;
		position: absolute;
		span{
			top: 2px;
			font-size: 19px;
		}
	}
	&.go-back{
		left: 15px;
		position: absolute;
		span{
			top: 2px;
			font-size: 19px;
		}
	}
}
.new-homi{
	min-height: 100%;
	position: relative;
	.row{
		padding: 0;
	    display: block;
	    min-height: 100%;
	    position: absolute;
		display: block;
		top: 0;
		bottom: 0;
	}
	.row + .row{
		margin-top: 0;
	}
	.five-col{
		width: 50%;
		float: left;
		display: block;
		position: relative;
		height: 30%;
		text-align: center;
		padding: 0;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
		z-index: 4;
		&:nth-child(even){
		}
		*{
			-webkit-transition: all 200ms ease-in-out;
			-moz-transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
		}
		span{
			color: #fff;
			display: block;
			font-size: 38px;
			margin-bottom: 10px;
		}
		h2{
			color: $blanco;
			margin: 0;
			font-size: 15px;
			font-family: $regular;
		}
		&.color1{
			background: $color1;
		}
		&.color2{
			background: $color2;
		}
		&.color3{
			background: $color3;
		}
		&.color4{
			background: $color4;
		}
		&.color5{
			background: $color5;
		}
		&.color6{
			background: $color6;
		}
		&:hover,
		&:active,
		&:focus{
			span{
				color: rgba(255,255,255,.5);
			}
			h2{
				color: rgba(255,255,255,.5);
			}
		}
	}
}
.new-profile{
	padding: 10px 20px;
	margin-bottom: 13%;
	h4{
		font-size: 20px;
		color: $azull;
		font-family: $regular;
	}
	h6{
		font-size: 15px;
		color: $gris;
		font-family: $regular;
		margin: 0 0 2px;
	}
	.profile-contain{
		padding-left: 15px;
	}
	.item-input.disabled{
		background: $girs-light;
		input{

		}
	}
}
.no-mapa h4{
	font-size: 20px;
	color: $azull;
	font-family: $regular;
}
h3.modal-test{
	font-size: 20px;
	color: $azull;
	font-family: $regular;
}
.new-look{
	padding: 10px 20px;
	h4{
		font-size: 20px;
		color: $azull;
		font-family: $regular;
	}
	.alert {
	    background: #ffffcc;
	    padding: 8px 15px;
	    margin: 5px 0 15px;
		h6 {
		    margin: 0;
		    font-size: 12px;
		    color: #cc3a00;
		    font-family: $regular;
		}
	}
	.box{
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
		position: relative;
		&.impagos{
			border: 1px solid #e0e0e0;
			border-bottom: 3px solid #e0e0e0;
			border-radius: 5px;
		    padding: 6px 9px;
			margin-bottom: 5px;
			.check{
				width: 24px;
				height: 24px;
				background: #14cc8a;
				border-radius: 100%;
				text-align: center;
				position: absolute;
				right: 0;
				top: 0;
				margin-top: -8px;
				margin-right: -8px;
				font-size: 15px;
				line-height: 26px;
				-webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
				-moz-box-shadow:    0px 1px 10px 0px rgba(0, 0, 0, 0.15);
				box-shadow:         0px 1px 10px 0px rgba(0, 0, 0, 0.15);
				display: none;
				span{
					color: $blanco;
				}
			}
			.contain{
				padding: 0;
				p{
					color: $gris;
					font-size: 11px;
					font-family: $light;
					&.total{
						margin-top: 4px;
						font-weight: normal;
						font-size: 12px;
						font-family: $light;
					}
				}
			}
			.ver-boleta{
				font-size: 12px;
				font-family: $regular;
				padding: 0 0 0 5px;
				margin: 5px 0;
				color: $azull;
			    line-height: 10px;
				div{
					font-size: 28px;
					margin: 0 0 5px;
				}
			}
			&.seleccionada{
				background: none;
				border-color: #14cc8a;
				.check{
					display: block;
				}
			}
		}
	}
	.row.el-servicio{
		padding: 0;
		margin-bottom: 10px;
		&:first-child{
			margin-top: 20px;
		}
		i{
			font-size: 18px;
		}
		.col{
			padding: 0;
		}
		.inline{
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
		}
		.in-on{
			color: #14cc8a;
		}
		.in-off{
			color: $gris-medium;
		}
		.danger{
			color: #ff0000;
		}
	}
	.menu-asociado{
		padding: 0;		
	}
	.el-chart{
		padding: 0;
	}
}
.pagar-head{
	.bar{
		&.bar-header{
			background: $color1;
		}
	}
}
.sin-luz-head{
	.bar{
		&.bar-header{
			background: $color3;
		}
	}
}
.notificaciones-head{
	.bar{
		&.bar-header{
			background: $color4;
		}
	}
}
.contacto-head{
	.bar{
		&.bar-header{
			background: $color5;
		}
	}
}
.oficinas-head{
	.bar{
		&.bar-header{
			background: $color6;
		}
	}
}
.list-inset{
	h6{
		font-size: 11px;
		position: relative;
		padding-left: 40px;
		color: #666666;
		span.alrt{
			display: block;
			position: absolute;
			left: 0;
			top: 10px;
			width: 34px;
			height: 34px;
			border-radius: 100%;
			background: #ffffcc;
			text-align: center;
			i{
				color: $color3;
				font-size: 23px;
				line-height: 32px;
				text-align: center;
			}
		}
	}
	.oficinas{
		margin-bottom: 100px;
	}
}
.top-pago{
	border: 1px solid $gris-medium;
	background: $blanco;
	&.row{
		
	}
	p{
		margin-bottom: 2px;
		color: $gris;
		font-family: $regular;
		&:last-child{
			margin-bottom: -3px;
		}
	}
}
.setting-notification{
	float: right;
	margin: 10px 0;
	span{
		font-size: 22px;
	}
}
.no-padd{
	padding: 0;
}
.edelaysen{
	display: block;
	width: 156px;
	height: 24px;
	background: url(../img/edelaysen.png) no-repeat;
	background-size: 100%;
}
.frontel{
	display: block;
	width: 132px;
	height: 26px;
	background: url(../img/frontel.png) no-repeat;
	background-size: 100%;
}
.luz-osorno{
	display: block;
	width: 115px;
	height: 29px;
	background: url(../img/luz-osorno.png) no-repeat;
	background-size: 100%;
}
.saesa{
	display: block;
	width: 121px;
	height: 21px;
	background: url(../img/saesa.png) no-repeat;
	background-size: 100%;
}

@media screen and (max-height: 520px) {
	.ion-new-menu{
		.btn-nav{
			padding: 3px 5px;
		}
	}
}


/*RETINA*/
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	.logo-login{
		background: url(../img/logo@2x.png) no-repeat;
		background-size: contain;
	}
	.logo-saesa{
		background: url(../img/logo-saesa@2x.png) no-repeat;
		background-size: contain;
	}
	.edelaysen{
		background: url(../img/edelaysen@2x.png) no-repeat;
		background-size: contain;
	}
	.frontel{
		background: url(../img/frontel@2x.png) no-repeat;
		background-size: contain;
	}
	.luz-osorno{
		background: url(../img/luz-osorno@2x.png) no-repeat;
		background-size: contain;
	}
	.saesa{
		background: url(../img/saesa@2x.png) no-repeat;
		background-size: contain;
	}
}
