<ion-view view-title="Perfil" enable-menu-with-back-views="true" hide-back-button="true">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
      <button class="button button-clear go-back" ng-click="goBack()">
        <span class="ti-back-left"></span>
      </button>
      <button class="button button-clear go-homi" ui-sref="app.home">
        <span class="ti-home"></span>
      </button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="new-profile">
      <h4>Cambiar contraseña</h4>
      <form name="cambiaPassword" ng-submit="confirmaCambio()">
        <label class="item item-input">
          <input type="password" ng-model="formdata.old_password" ng-required="true" placeholder="Contraseña actual" required>
        </label>
        <label class="item item-input disabled">
          <input type="password" ng-model="formdata.new_password" ng-required="true" ng-minlength="4" placeholder="Nueva Contraseña" required>
        </label>
        <label class="item item-input">
          <input type="password" ng-model="formdata.new_password_rep" ng-required="true" ng-minlength="4" placeholder="Repetir Nueva Contraseña" ng-pattern="formdata.new_password" required>
        </label>
        <button class="button button-block" type="submit"  ng-disabled="cambiaPassword.$invalid || cambiaPassword.$pristine">Cambiar <span class="ti-arrow-right"></span></button>
      </form>
    </div>
  </ion-content>
</ion-view>
